@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;

    .board_container {
        position: relative;
        height: 100vh;
        background-color: rgb(44, 45, 45);

        .winner_div{
            height: 30vh;
            width: 25vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(227, 221, 221, 0.815);
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
         
            .winner_para{
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                margin: 30px 0;
            }

            .play_again_btn_div{
                text-align: center;

                .play_again_btn{
                    padding: 15px 30px;
                    font-size: 1rem;
                    border: none;
                    background-color: #004792;
                    color: #fff;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
        }

        .board_item {
            height: 45vh;
            width: 45vh;
            background-color: rgba(3, 3, 3, 0.189);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 5px;
            border-radius: 10px;
            
            .square {
                background-color: rgba(227, 221, 221, 0.815);
                display: grid;
                place-items: center;
                border-radius: 10px;

                h4 {
                    color: black;
                    font-size: 3rem;
                    font-weight: 900;
                }
            }
        }
    }
}